* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:hsl(336, 33.30%, 97.10%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color:rgb(189, 175, 181);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #fbfbfb;
    border-radius: 10px;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -18px;
    left: 0;
    display: none;
}

.toggle-btn {
    position:absolute;
    right: -125px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #a71701;
    cursor: pointer;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #562b3e;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
